# {{ template_destpath }}
# {{ ansible_managed }}

proxy_buffers           {{ nginx_proxy_buffers|join(' ') }};
proxy_buffer_size       {{ nginx_proxy_buffer_size }};
proxy_busy_buffers_size {{ nginx_proxy_busy_buffers_size }};

{% if nginx_cache_enable %}
proxy_cache             {{ nginx_cache_name }};
proxy_cache_key         {{ nginx_proxy_cache_key }};
proxy_cache_lock        on;
proxy_cache_path        /var/nginx/cache/{{ nginx_cache_name }}
                        levels=1
                        keys_zone={{ nginx_cache_name }}:128m
                        inactive={{ nginx_cache_inactive }};
proxy_cache_use_stale   updating error timeout http_502 http_503 http_504;
proxy_cache_valid 200   {{ nginx_cache_time_default }}s;
proxy_cache_valid 404   {{ nginx_cache_time_404 }}s;
proxy_cache_valid 500   0;

{% endif %}
proxy_connect_timeout   {{ nginx_proxy_connect_timeout }};
proxy_read_timeout      {{ nginx_proxy_read_timeout }};
proxy_redirect          {{ "on" if nginx_proxy_redirect else "off" }};
proxy_send_timeout      {{ nginx_proxy_send_timeout }};

proxy_set_header        Host                $host;
proxy_set_header        X-Real-IP           $remote_addr;
proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
proxy_set_header        X-Forwarded-Proto   $scheme;

proxy_ssl_verify        off;
proxy_ssl_session_reuse off;
proxy_ssl_name          $host;
proxy_ssl_server_name   on;
